.clock {
  max-width: 700px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.setters {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-around;
}

button {
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #5c5c5c;
  cursor: pointer;
}

h4 {
  font-size: 30px;
  margin-top: 20px;
  font-weight: 500;
}

span {
  font-size: 30px;
  line-height: normal;
}

span#time-left {
  font-size: 80px;
}

.display {
  text-align: center;
  margin-top: 10px;
}